# direnv configuration
# https://direnv.net/
#
# Automatically activates the Nix dev shell when you cd into this directory.
# Requires direnv and nix-direnv installed:
#   https://github.com/nix-community/nix-direnv
#
# To switch to the Android shell instead, change this to:
#   use flake .#android
# (after uncommenting the android blocks in flake.nix)

use flake
